.carousel-section {
    margin-bottom: 3rem;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
}

.carousel-item img {
    height: 600px;
    object-fit: cover;
}
