* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: lightyellow;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 18px;
}

@media (max-width: 768px) {
    body {
        background-color: lightgreen;
    }
}

@media (max-width: 480px) {
    body {
        background-color: lightblue;
    }
}
