* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    color: #333;
}

.container {
    display: flex;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.box {
    flex: 1;
    background-color: #4CAF50;
    padding: 40px;
    text-align: center;
    color: white;
    font-size: 24px;
    border-radius: 19px;
}
